
akka-server/Client/.idea/

akka-server/.idea/

akka-server/Client/Client.iml

akka-server/Server/Server.iml

akka-server/Shared/Shared.iml

akka-server/Client/target/

akka-server/Server/target/

akka-server/Shared/target/

akka-server/Remote.iml

fl_image_clasification/.idea/
